<form id="contact_form" method="POST" enctype="multipart/form-data" ng-submit="controller.saveDriverReview()">
    <div class="row">
        <label for="name">Review Title</label><br />
        <input id="name" class="input" name="name" type="text" value="" size="30" ng-model="controller.reviewToCreate.title" /><br />
    </div>

    <div class="row">
        <label for="message">Your Review:</label><br />
        <textarea id="message" class="input" name="message" rows="7" cols="30" ng-model="controller.reviewToCreate.message"></textarea><br />
    </div>
    <button type="submit" class="btn btn-success">
        Submit
    </button>
</form>			