<div class="container-fluid" id="loginModal">

    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="modal-content" id="loginModalContent">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Modal title
                    </h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>Login Locally</legend>
                        <ul>
                            <li ng-repeat="error in controller.validationMessages">
                                {{error}}
                            </li>
                        </ul>

                        <form novalidate ng-submit="controller.login()" name="loginForm">
                            <div>
                                <label>Email:</label>
                                <input ng-model="controller.loginUser.email" required />
                                <span ng-show="loginForm.loginUser.email.$touched && loginForm.loginUser.email.$error.required" class="error">Email Is Required</span>
                            </div>
                            <div>
                                <label>Password:</label>
                                <input ng-model="controller.loginUser.password" />
                            </div>
                            <input type="submit" value="Login" />
                            <a href="/register">Register</a>
                        </form>
                    </fieldset>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>