   

<!-- Start Content 1 -->
    <section class="content-1">

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="content-text-1">
                        <h1>RentMyCar is a collaborative effort among programmers from Seattle, WA and Houston, TX.</h1>
                    </div>
                    <div class="content-text-2">
                        <center><p class="lead">The vision for this unique APP is to demonstrate our newly acquired programming skills and to demonstrate our ability to work on a team using Visual Studio Team Services to build a tool displaying some of the latest tools available in the market. </p></center>
                    </div>
                    <div class="content-text-3">
                        <p></p>
                    </div>
                </div>

                <div class="col-lg-5 col-lg-right-1 col-md-6 col-sm-12">
                    <img class="img-responsive" src="https://media-cdn.tripadvisor.com/media/photo-s/03/9b/30/26/seattle.jpg"><br /><br />
                </div>
                <div class="col-lg-5 col-lg-left-1 col-md-6 col-sm-12">
                    <img class="img-responsive" src="https://images.trvl-media.com/media/content/shared/images/travelguides/destination/178265/Houston-21513.jpg" />
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->

    </section>
    <!-- // End Content 1 -->
    
    <!-- Start Team -->
    <div class="container">

        <div class="underlined-title">
            <div class="hello-team">
                <center><h1>Meet the Troop 8 Team</h1></center>
            </div>
            <hr>
        </div>
        </div>
        <div class="row">
            <div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h3>
				Cory Couty
			</h3>
            <h4>Team Leader</h4>
            <img alt="Bootstrap Image Preview" src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAATAAAAAJDcwMmRmMzgwLTZmYmEtNDA3NC05NjlkLTFjNjc2MGI5NDg2ZQ.jpg" class="img-circle" />
		</div>
		<div class="col-md-3">
			<h3>
				Jason deNevers
			</h3>
            <h4>Team Leader</h4>
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle" />
		</div>
		<div class="col-md-3">
			<h3>
				Ayesha Shaikh
			</h3>
            <h4>Team Member</h4>
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle" />
		</div>
		<div class="col-md-3">
			<h3>
				Morgan Pylant <br />
            
			</h3>
            <h4>Team Member</h4>
            <img alt="Bootstrap Image Preview" src="https://codercamps.blob.core.windows.net/avatars/mpylant2.jpg" class="img-circle" />
		</div>
	</div>
</div>

            <div class="col-sm-4 team-member-wrap">
                <div class="team-member">
                    <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10170744_10201893558923585_9216382156199743190_n.jpg?oh=b2d77e1bc34ce48567b58a8290ee784b&oe=57B5A9BD" class="img-responsive" alt="Member Image">
                    <div class="team-details">
                        <div class="name">
                            <h4>Cory Couty</h4>
                        </div>
                        <div class="position">
                            <p>Back-End Development</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- /.team-member-wrap -->

            <div class="col-sm-4 team-member-wrap">
                <div class="team-member">
                    <img src= "https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11046367_10207026881136429_2767941446762660300_n.jpg?oh=7bc2f2fab7958c3c5be437ec2dfb3f65&oe=579F2F4E"class="img-responsive" alt="Member Image">
                    <div class="team-details">
                        <div class="name">
                            <h4>Jason de Nevers</h4>
                        </div>
                        <div class="position">
                            <p>Back-End Development</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-member-wrap -->

            <div class="col-sm-4 team-member-wrap">
                <div class="team-member">
                    <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/10635918_1613432745593831_1087408467069879471_n.jpg?oh=94e526d655015c8fb6b054b07b166cbf&oe=57AE9630" class="img-responsive" alt="Member Image">
                    <div class="team-details">
                        <div class="name">
                            <h4>Ayesha Shaikh</h4>
                        </div>
                        <div class="position">
                            <p>Back-End Development</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-member-wrap -->


            <div class="container">

                <div class="row">

                    <div class="col-sm-4 team-member-wrap">
                        <div class="team-member">
                            <img src="https://codercamps.blob.core.windows.net/avatars/mpylant2.jpg" class="img-responsive" alt="Member Image">
                            <div class="team-details">
                                <div class="name">
                                    <h4>Morgan Pylant</h4>
                                </div>
                                <div class="position">
                                    <p>Front-End Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /.team-member-wrap -->


                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            <!--// End Team -->
            <!-- Start Copyright Bar -->
            <div class="copyright-bar">
                <div class="container text-center">
                    <div class="copyright-text">
                        <p>© COPYRIGHT 2016 - RENT MY CAR - ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>
            <!--// End Copyright Bar -->
</div>
</div>