
    <!-- Start Content 1 -->
    <section class="content-1">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="content-text-1">
                        <h1>This is a headline highlighting a key feature.</h1>
                    </div>
                    <div class="content-text-2">
                        <p class="lead">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.</p>
                    </div>
                    <div class="content-text-3">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.</p>
                    </div>
                </div>

                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12">
                    <img class="img-responsive" src="http://placehold.it/600x500">
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->

    </section>
    <!-- // End Content 1 -->
    <!-- Start Content 2 -->
    <section class="content-2">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-12 pull-right">
                    <div class="content-text-1">
                        <h1>This is a headline highlighting a key feature.</h1>
                    </div>
                    <div class="content-text-2">
                        <p class="lead">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.</p>
                    </div>
                    <div class="content-text-3">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.</p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12 pull-left">
                    <img class="img-responsive" src="http://placehold.it/600x500">
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->

    </section>
    <!-- // End Content 2 -->
    <!-- Start Team -->
    <div class="container">

        <div class="underlined-title">
            <div class="hello-team">
                <center><h1>Say hello to the team</h1></center>
            </div>
            <hr>
        </div>

        <div class="row">

            <div class="col-sm-4 team-member-wrap">
                <div class="team-member">
                    <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                    <div class="team-details">
                        <div class="name">
                            <h4>Cory Couty</h4>
                        </div>
                        <div class="position">
                            <p>Back-End Development</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-member-wrap -->

            <div class="col-sm-4 team-member-wrap">
                <div class="team-member">
                    <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                    <div class="team-details">
                        <div class="name">
                            <h4>Jason Denevers</h4>
                        </div>
                        <div class="position">
                            <p>Back-End Development</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-member-wrap -->

            <div class="col-sm-4 team-member-wrap">
                <div class="team-member">
                    <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                    <div class="team-details">
                        <div class="name">
                            <h4>Ayesha Shaikh</h4>
                        </div>
                        <div class="position">
                            <p>Back-End Development</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-member-wrap -->


            <div class="container">

                <div class="row">

                    <div class="col-sm-4 team-member-wrap">
                        <div class="team-member">
                            <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                            <div class="team-details">
                                <div class="name">
                                    <h4>Morgan Pylant</h4>
                                </div>
                                <div class="position">
                                    <p>Front-End Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.team-member-wrap -->

                    <div class="col-sm-4 team-member-wrap">
                        <div class="team-member">
                            <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                            <div class="team-details">
                                <div class="name">
                                    <h4>Kara Silvey</h4>
                                </div>
                                <div class="position">
                                    <p>Front-End Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.team-member-wrap -->


                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            <!--// End Team -->
            <!-- Start Copyright Bar -->
            <div class="copyright-bar">
                <div class="container text-center">
                    <div class="copyright-text">
                        <p>© COPYRIGHT 2016 - RENT MY CAR - ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>
            <!--// End Copyright Bar -->
</div>
</div>