<!DOCTYPE html>
<html>

<head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">


    <link rel="stylesheet" href="main.css">

</head>

<body>
    <div class="nav">
        <div class="container">
            
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h2>The Story of the Better Half of Troop 8! - Seattle</h2>
            <p>This Amazing 5 person team of coding superheros is made up of Cory Couty, Jason deNevers, Ayesha Shaikh, Kara Silvey and Morgan Pylant!</p>
            <a href="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQy7zxFR0DnekURoTTVe3RA7ZMhZtGiD_RzRFOLm-4JTRVwnR_w">Photo of the Happy Team</a>
        </div>
    </div>

    <div class="learn-more">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Where Cars and Drivers Meet</h3>
                    <p>This idea spawned from an assignment during the Full Stack Course at Coder Camps!</p>
                    <p><a href="https://www.entrepreneur.com/franchise500">Read more of how this Million Dollar Idea happened overnight...</a></p>
                </div>
                <div class="col-md-4">
                    <h3>Private Investors flocking to get a piece of the action before selling company to Google.</h3>
                    <p></p>
                    <p><a href="http://www.ratnalalaw.com/">For contract considerations, contact The Ratnala Law Firm.</a></p>
                </div>
                <div class="col-md-4">
                    <h3>Team Expresses Gratitude to the instructors of Coder Camps...but no discussion underway on royalties at this time.</h3>
                    <p></p>
                    <p><a href="https://www.codercamps.com/About/SuccessStories">Troop 8 Team seen as a true success story for Coder Camps!</a></p>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">

                            <address>
                                <strong>RentMyCar, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> Hollywood, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890<br />Email: Info@RentMyCar.com
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>