<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Details for Each Car to Rent</title>
</head>
<body>
    <div>
        <form>
            Make: <input type="text" name="make" /><br />
            Model: <input type="text" name="model" /><br />
            Year: <input type="text" name="year" /><br />
            Price Per Day: <input type="text" name="price" /><br />
            Number of Doors: <input type="text" name="doors" /><br />
            Image of Car: <input type="text" name="image" /><br /> <br />

            input type="submit" value="Submit"
        </form>
    </div>
</body>
</html>