<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    LayoutIt! <small>Interface Builder for Bootstrap</small>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        Car To Rent
                    </h3><img alt="Bootstrap Image Preview" class="carAndLoanerImg text-center" style="height: 400px; width: 500px" src="{{controller.carDetail.image}}" />
                    <div class="row">
                        <div class="col-md-4">
                            car details BLAH BLAH
                        </div>
                        <div class="col-md-4">
                            MORE CAR DETAILS
                        </div>
                        <div class="col-md-4">
                            GOOGLE LOCATION PLACE HOLDER
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>
                        Car Owner
                    </h3><img alt="Bootstrap Image Preview" class="carAndLoanerImg" src="{{controller.car.user.image}}" />
                    <div class="row">
                        <div class="col-md-4">
                            USER DETAILS
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

















<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Details for Each Car to Rent</title>
</head>
<body>
    <div>
 
            Make: {{controller.carDetail.make}}<br />
            Model: {{controller.carDetail.model}}<br />
            Year: {{controller.carDetail.year}}<br />
            Price Per Day: {{controller.carDetail.price|currency}}<br />
            Number of Doors: {{controller.carDetail.doors}}<br />
            Image of Car: <img src="{{controller.carDetail.image}}" /><br /> <br />

   
    </div>
</body>
</html>-->