<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Details for Each Car to Rent</title>
</head>
<body>
    <div>
 
            Make: {{controller.carDetail.make}}<br />
            Model: {{controller.carDetail.model}}<br />
            Year: {{controller.carDetail.year}}<br />
            Price Per Day: {{controller.carDetail.price}}<br />
            Number of Doors: {{controller.carDetail.doors}}<br />
            Image of Car: <img src="{{controller.carDetail.image}}" /><br /> <br />

   
    </div>
</body>
</html>