<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <label>This is logout view</label>
</body>
</html>


<!--<ul id="user_spot">
    <li>
        <a href="#"><span class="username">username</a>
        <ul id="user_spot_links">
            <div>
                <div>
                    <div>
                        <img id="iconimage" src="http://www.iconarchive.com/download/i60076/mattahan/ultrabuuf/TV-Kitty.ico" />
                    </div>
                    <div>
                        <div>
                            Ayesha Shaikh
                        </div>
                        <div>
                            Ayesha@codercamps.com
                        </div>
                    </div>
                </div>

                <div>
                    <li><a href="/home/sign?out=y">Sign Out</a></li> <br />
                </div>
            </div>

        </ul>
    </li>
</ul>-->
