<h1>Testing the Ratings</h1>
<a href="/add">Create a new Ratings</a>

<table class="table">
    <tr>
        <th>Id</th>
        <th>SchedulingExperience</th>
        <th>PaymentExperience</th>
        <th>PromptReplies</th>
        <th>DeliveryExperience</th>
        <th> ConditionOfReturnedCar</th>
        <th>Trustworthiness</th>
        <th>ProfessionalismOfDriver</th>
        <th>OverallRating</th>

    </tr>
    <tr ng-repeat="rating in controller.ratings">
        <td>{{rating.id}}</td>
        <td>{{rating.tireQuality}}</td>
        <td>{{rating.insideCleanliness}}</td>
        <td>{{rating.safetyFeatures}}</td>
        <td>{{rating.deliveryExperience}}</td>
        <td>{{rating.conditionOfReturnedCar}}</td>
       
       
           <td> <a href="/edit/{{rating.id}}">Edit</a> /
            <a href="/delete/{{rating.id}}">Delete</a>
        </td>
    </tr>
</table>
