<html xmlns="http://www.w3.org/1999/xhtml" ng-app="GroupProjectStart">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/carpagestyles.css" rel="stylesheet" />
    <link href="~/css/profilepagestyles.css" rel="stylesheet" />
    <link href="~/css/cardetailstyles.css" rel="stylesheet" />
    <link href="~/css/indexstyle.css" rel="stylesheet" />
    <base href="/" />
</head>
<body id="pageBody" ng-controller="AccountController as account" >
    <div class="navbar navbar-fixed-top navbar-inverse" id="mainNav" style="height: 100px">

        <a class="navbar-brand" href="/">
<img src="~/images/drawing.png" alt="Your Logo" style="height: 55px; width: auto; margin-top: -15px;" id="logoImage"  class="img-responsive"/></a>
        <div class="">
            <ul class="nav navbar-nav navButtons" id="navButtons" >
                <li class="active" id="navBut1">
                    <a id="navBut2" href="/">Home</a>
                </li>
                <li class="active">
                    <a href="about">About</a>
                </li>
                <li class="active">
                    <a href="/userCars">Cars</a>
                </li>
                <li class="active">
                    <a href="/profiles">Profiles</a>
                </li>
               
              
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <button class="btn btn-lg btn-success" ng-click="account.showSignInModal()">Log In</button>
                </li>
                <li>
                    <button class="btn btn-lg btn-default" ng-click="account.showSignUpModal()">Sign Up</button>
                </li>
            </ul>
        </div>


    </div>

        <div id="pageContentContainer" class="container">
            <ui-view></ui-view>
        </div>


        <!-- Library Files -->
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-resource/angular-resource.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
        <script src="~/lib/angular-filepicker/angular-filepicker.js"></script>
        <script src="~/lib/angular-touch/angular-touch.js"></script>
        <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/lib/angular-filepicker/angular-filepicker.js"></script>

        <!-- App Files-->

        <script src="~/all.js"></script>

</body>
</html>
