

.content-1 {
padding: 20px;
  }
  
.content-2 {

  }
    
    
  
.hello-team {
    padding-top: 50px;
    background-color: burlywood;
    
  }
  
.copyright-bar {
    padding: 10px;
    background-color: burlywood;
    color: #fff;
}

