.profile-img{
    width: 25em;
    height: 25em;
}

.car-img{
    width: 100%;
    height: 25em;
    overflow:hidden;
}

.car-detail{
    border: solid 2px black;
    padding: 10px;
    margin: 10px;
}

.inactive-car{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.profile-car-btn{
    display:inline-block;
    float:right;
}

.car-type{
    display:inline-block;
}

.profileCarRating{
    display:inline-block;
}

.form-description{
    resize:none;
    width: 100% !important;
    height: 500px;
}

.addCarForm{
    border: solid 2px black;
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance: none;*/
    margin: 0; 
}

.editCarButtons{
    margin-top:10px;
    margin-bottom:10px;
    float: right;
}